In [1]:
import pandas as pd

In [38]:
path = "/Users/mragungsetiaji/Documents/friday/friday-spider/spider.csv"

In [39]:
df = pd.read_csv(path)

In [40]:
df = df[df["date"] != "2020-11-07"]

In [41]:
df["average"] = df["average"].apply(lambda x: int(x.replace(",", "")))

In [42]:
df["lot"] = df["lot"].apply(lambda x: int(x.replace(",", "")))

In [43]:
def clean(x):
    if "B" in x:
        x = x.replace(" B", "")
        x = float(x) * 1000000000
    elif "M" in x:
        x = x.replace(" M", "")
        x = float(x) * 1000000
    return int(x)

In [44]:
df["value"] = df["value"].apply(lambda x: clean(x))

In [45]:
df

,average,broker_code,date,emiten,id,lot,type,value
40,5746,AK,2020-11-06,ASII,ASII-2020-11-06-B-0,102611,B,59000000000
41,5745,AT,2020-11-06,ASII,ASII-2020-11-06-S-0,70652,S,40600000000
42,5796,ZP,2020-11-06,ASII,ASII-2020-11-06-B-1,89506,B,51900000000
43,5832,ZP,2020-11-06,ASII,ASII-2020-11-06-S-1,68881,S,40200000000
44,5692,KZ,2020-11-06,ASII,ASII-2020-11-06-B-2,78634,B,44800000000
...,...,...,...,...,...,...,...,...
415,5372,MS,2020-11-01,ASII,ASII-2020-11-01-S-7,105241,S,56500000000
416,5466,CC,2020-11-01,ASII,ASII-2020-11-01-B-8,51672,B,28200000000
417,5556,YP,2020-11-01,ASII,ASII-2020-11-01-S-8,91299,S,50700000000
418,5492,PD,2020-11-01,ASII,ASII-2020-11-01-B-9,51655,B,28400000000
419,5654,PD,2020-11-01,ASII,ASII-2020-11-01-S-9,91089,S,51500000000

In [47]:
df.to_excel("/Users/mragungsetiaji/Documents/friday/friday-spider/asii.xlsx")